@media screen and (max-width: 990px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    padding: 0 15px;
    margin-top: 20px;
  }
  .hero-section .content .title {
    text-align: center;
    font-size: 3.2rem;
    line-height: 40px;
  }
  .hero-section .content .descrip {
    text-align: center;
    font-size: 1.4rem !important;
    margin: 15px 0;
  }
  .hero-section .content .descrip br {
    display: none;
  }

  /* *======== Our Stories section =========*/
  .story-card .story-date , .big-story-card .big-story-date{
    width: 140px;
    height: 35px;
    bottom: 35%;
    left: 20px;
    font-size: 1.3rem;
  }
  .big-story-card .big-story-date{
    top: 44%;
  }
  .our-stoies-section .our-stories .left .big-story-card .story-title{
    margin: 20px;
    font-size: 1.8rem;
  }
  .our-stoies-section .our-stories .left .big-story-card .story-details {
    padding: 0 30px 20px 20px;
  }
  .our-stoies-section .our-stories .right .stories-cards .story-card .content{
    padding: 20px;
    p{
      font-size: 1.2rem;
    }
  }

}



@media screen and (max-width: 768px) {
    header .wrapper{
        padding: 0;
    }
  nav{
    background: #fff;
   border-bottom: 1px solid var(--orange-clr);
   padding: 10px 15px;
  }
  nav .logo .logo-text,
  nav ul.menu,
  nav .contact-us {
    display: none;
  }
  nav .logo img {
    width: 45px;
  }
  nav .bars-icon {
    display: block;
    font-size: 2.7rem;
  }

  /* * curriculum section  */
  .standard-curriculum{
    padding: 40px 15px 20px;
    background-position: -40px 40px;
  }
  .standard-curriculum .title {
    font-size: 2.4rem;
  }

  .standard-curriculum .curriculum-cards {
    gap: 15px;
  }
  .standard-curriculum .curriculum-card {
    flex-basis: 100%;
    padding: 30px 25px;
  }

  .standard-curriculum .curriculum-card .content .heading{
    font-size: 2rem;
    margin-top: 20px;
  }
  .standard-curriculum .curriculum-card .content .details {
    margin: 20px 0;
  }

  .slider-buttons{
    display: none;
  }

  /* * Stories section */

  .our-stoies-section{
    padding: 40px 0;
  }

  .our-stoies-section .our-stories{
    margin: 20px 0;
  }
  .our-stoies-section .our-stories .left{
    display: none;
  }
  .our-stoies-section .our-stories .right{
    flex-basis: 100%;
  }

  .our-stoies-section .our-stories .right .stories-cards{
    gap: 20px;
  }
  .our-stoies-section .our-stories .right .stories-cards .story-card{
    flex-basis: calc(50% - 10px);
    border-radius: 8px;
  }
  .our-stoies-section .our-stories .right .stories-cards .story-card img{
    border-radius: 8px 8px 0 0;
  }
  .our-stoies-section .our-stories .right .stories-cards .story-card .content{
    padding: 40px;
  }

  .our-stoies-section
  .our-stories
  .right
  .stories-cards
  .story-card
  .content
  > p{
    font-size: 1.6rem;
    line-height: 20px;
  }
  .story-card .story-date{
    /* display: none; */
    font-size: 1rem;
    bottom: 30%;
  }

    /* * Footer section */
  footer{
    padding: 40px 0 60px;
  }
  footer .wrapper {
    flex-direction: column;
    gap: 30px;
  }
  footer .footer-logo .logo  img{
    width: 70px;
  }
  footer .footer-logo .logo .logo-text{
    font-size: 3.2rem;
  }
  footer .footer-logo p{
    font-size: 1.5rem;
  }
}

@media screen and (max-width:576px) {
  .our-stoies-section .our-stories .right .stories-cards{
    gap: 10px;
  }
  .our-stoies-section .our-stories .right .stories-cards .story-card .content{
    padding: 20px;
  }

  .our-stoies-section .our-stories .right .stories-cards .story-card{
    flex-basis: calc(50% - 5px);
  }

  .our-stoies-section
  .our-stories
  .right
  .stories-cards
  .story-card
  .content
  > p{
    font-size: .85rem;
    line-height: 15px;
  }

  .story-card .story-date{
    width: 100px;
    height: 20px;
    bottom: 36%;
  }
}
